In [2]:
import numpy as np

# DataTypes and Attributes

In [3]:
# Numpy's main datatype is ndarray
a1 = np.array([1, 2, 3])
a1

array([1, 2, 3])

In [4]:
type(a1)

numpy.ndarray

In [114]:
a2 = np.array([[1, 2.0, 3.3], 
               [4, 5, 6.5]])

a3_fixed = np.array([[[1, 2, 3],
                    [4, 5, 6]],
                   [[7, 8, 9],
                    [10, 11, 12]],
                   [[13, 14, 15],
                    [16, 17, 18]]])
a3 = np.array([[[1, 2, 3],
                [4, 5, 6],
                [7, 8 ,9]],
               [[10, 11, 12],
                [13, 14, 15],
                [16, 17, 18]]])

In [115]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [116]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [117]:
# Attributes associated with NumPy
a1.shape

(3,)

In [118]:
a2.shape

(2, 3)

In [119]:
a3.shape

(2, 3, 3)

In [120]:
a1.ndim, a2.ndim, a3.ndim

(1, 2, 3)

In [121]:
a1.dtype, a2.dtype, a3.dtype

(dtype('int32'), dtype('float64'), dtype('int32'))

In [122]:
a1.size, a2.size, a3.size

(3, 6, 18)

In [123]:
type(a1), type(a2), type(a3)

(numpy.ndarray, numpy.ndarray, numpy.ndarray)

In [124]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [125]:
# Creat a DataFrame from NumPy array
import pandas as pd

df = pd.DataFrame(a2)
df

     0    1    2
0  1.0  2.0  3.3
1  4.0  5.0  6.5

# Creating Numpy Arrays

In [126]:
sample_array = np.array([1, 2, 3])
sample_array

array([1, 2, 3])

In [127]:
sample_array.dtype

dtype('int32')

In [128]:
ones = np.ones((2, 3))

In [129]:
ones

array([[1., 1., 1.],
       [1., 1., 1.]])

In [130]:
ones.dtype

dtype('float64')

In [131]:
type(ones)

numpy.ndarray

In [132]:
zeros = np.zeros((2, 3))

In [133]:
zeros

array([[0., 0., 0.],
       [0., 0., 0.]])

In [134]:
range_array = np.arange(0, 10, 2)

In [135]:
range_array

array([0, 2, 4, 6, 8])

In [136]:
random_array = np.random.randint(0, 10, size=(3, 5))
random_array

array([[5, 4, 6, 9, 9],
       [9, 4, 8, 2, 4],
       [6, 5, 3, 5, 2]])

In [137]:
random_array.size

15

In [138]:
random_array.shape

(3, 5)

In [139]:
random_array2 = np.random.random((5, 3))
random_array2

array([[0.63253238, 0.90412283, 0.5991675 ],
       [0.22163638, 0.20259745, 0.92845353],
       [0.83658926, 0.41364897, 0.93112118],
       [0.2945723 , 0.67380567, 0.71726179],
       [0.68886634, 0.26482666, 0.8818126 ]])

In [140]:
random_array2.shape

(5, 3)

In [141]:
random_array3 = np.random.rand(5, 3)
random_array3

array([[0.27225942, 0.27617604, 0.8426697 ],
       [0.99066426, 0.69200885, 0.19680493],
       [0.06791256, 0.63745919, 0.96273204],
       [0.96358951, 0.3912352 , 0.90892772],
       [0.23611167, 0.69850782, 0.2364886 ]])

# NumPy Random Seed

In [142]:
# Pseudo-random numbers
np.random.seed(seed=99999)

random_array4 = np.random.randint(10, size=(5,3))
random_array4

array([[0, 3, 1],
       [8, 1, 3],
       [8, 5, 6],
       [0, 6, 0],
       [4, 0, 9]])

In [143]:
random_array4.shape

(5, 3)

In [144]:
np.random.seed(7)
random_array5 = np.random.random((5, 3))
random_array5

array([[0.07630829, 0.77991879, 0.43840923],
       [0.72346518, 0.97798951, 0.53849587],
       [0.50112046, 0.07205113, 0.26843898],
       [0.4998825 , 0.67923   , 0.80373904],
       [0.38094113, 0.06593635, 0.2881456 ]])

In [145]:
random_array5 = np.random.random((5, 3))
random_array5

array([[0.90959353, 0.21338535, 0.45212396],
       [0.93120602, 0.02489923, 0.60054892],
       [0.9501295 , 0.23030288, 0.54848992],
       [0.90912837, 0.13316945, 0.52341258],
       [0.75040986, 0.66901324, 0.46775286]])

# Viewing Arrays and Matrices

In [146]:
random_array4

array([[0, 3, 1],
       [8, 1, 3],
       [8, 5, 6],
       [0, 6, 0],
       [4, 0, 9]])

In [147]:
np.unique(random_array4)

array([0, 1, 3, 4, 5, 6, 8, 9])

In [148]:
a1

array([1, 2, 3])

In [149]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [150]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [151]:
a1[0]

1

In [152]:
a2.shape

(2, 3)

In [153]:
a2[0]

array([1. , 2. , 3.3])

In [154]:
a3.shape

(2, 3, 3)

In [155]:
a3[0]

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [156]:
a3

array([[[ 1,  2,  3],
        [ 4,  5,  6],
        [ 7,  8,  9]],

       [[10, 11, 12],
        [13, 14, 15],
        [16, 17, 18]]])

In [157]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [158]:
a2[1]

array([4. , 5. , 6.5])

In [159]:
a3[:2, :2, :2]

array([[[ 1,  2],
        [ 4,  5]],

       [[10, 11],
        [13, 14]]])

In [160]:
a4 = np.random.randint(10, size=(2, 3, 4, 5))
a4

array([[[[6, 7, 7, 9, 3],
         [0, 7, 7, 7, 0],
         [5, 4, 3, 1, 3],
         [1, 3, 4, 3, 1]],

        [[9, 5, 9, 1, 2],
         [3, 2, 2, 5, 7],
         [3, 0, 9, 9, 3],
         [4, 5, 3, 0, 4]],

        [[8, 6, 7, 2, 7],
         [3, 8, 6, 6, 5],
         [6, 5, 7, 1, 5],
         [4, 4, 9, 9, 0]]],


       [[[6, 2, 6, 8, 2],
         [4, 1, 6, 1, 5],
         [1, 6, 9, 8, 6],
         [5, 9, 7, 5, 4]],

        [[9, 6, 8, 1, 5],
         [5, 8, 3, 7, 7],
         [9, 4, 7, 5, 9],
         [6, 2, 0, 5, 3]],

        [[0, 5, 7, 1, 8],
         [4, 9, 0, 2, 0],
         [7, 6, 2, 9, 9],
         [5, 1, 0, 0, 9]]]])

In [161]:
a4.shape, a4.ndim

((2, 3, 4, 5), 4)

In [162]:
# Get the first 4 numbers of the last array
a4[1, 2, 0, :4]

array([0, 5, 7, 1])

# Manipulating & Comparing Arrays

### Arithmetic

In [163]:
a1

array([1, 2, 3])

In [164]:
ones = np.ones(3)
ones

array([1., 1., 1.])

In [165]:
a1 + ones

array([2., 3., 4.])

In [166]:
a1 - ones

array([0., 1., 2.])

In [167]:
a1 * ones

array([1., 2., 3.])

In [168]:
a1

array([1, 2, 3])

In [169]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [170]:
a1 * a2

array([[ 1. ,  4. ,  9.9],
       [ 4. , 10. , 19.5]])

In [173]:
# How can you reshape a2 to be compatible with a3?
# Search: "How to reshape numpy array"
# a2 * a3

In [174]:
# It won't work because the 2-d shape of a3 doesn't match the 2-d shape of a2
a2.shape, a3.shape

((2, 3), (2, 3, 3))

In [180]:
# This solution helps fix the problem by only using the first row of a2,
# the downfall is that it looses data.
a2_reshape = np.reshape(a2[:1], (1, 3))
a2_reshape

array([[1. , 2. , 3.3]])

In [181]:
a2_reshape * a3

array([[[ 1. ,  4. ,  9.9],
        [ 4. , 10. , 19.8],
        [ 7. , 16. , 29.7]],

       [[10. , 22. , 39.6],
        [13. , 28. , 49.5],
        [16. , 34. , 59.4]]])

In [182]:
a1 / ones

array([1., 2., 3.])

In [184]:
a2 / a1

array([[1.        , 1.        , 1.1       ],
       [4.        , 2.5       , 2.16666667]])

In [183]:
a2 // a1

array([[1., 1., 1.],
       [4., 2., 2.]])

In [186]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [185]:
a2 ** 2

array([[ 1.  ,  4.  , 10.89],
       [16.  , 25.  , 42.25]])

In [187]:
np.square(a2)

array([[ 1.  ,  4.  , 10.89],
       [16.  , 25.  , 42.25]])

In [188]:
np.add(a1, ones)

array([2., 3., 4.])

In [189]:
a1 % 2

array([1, 0, 1], dtype=int32)

In [190]:
a2 % 2

array([[1. , 0. , 1.3],
       [0. , 1. , 0.5]])

In [191]:
np.exp(a1)

array([ 2.71828183,  7.3890561 , 20.08553692])

In [192]:
np.log(a1)

array([0.        , 0.69314718, 1.09861229])

# Manipulating Arrays 2

### Aggregation

Aggregation = performing the same operation on a number of things

In [193]:
listy_list = [1, 2, 3]
type(listy_list)

list

In [194]:
sum(listy_list)

6

In [197]:
a1, type(a1)

(array([1, 2, 3]), numpy.ndarray)

In [198]:
sum(a1)

6

In [199]:
np.sum(a1)

6

Use Python's methods (sum()) on Python datatypes and use

Numpy's methods on NumPy Arrays (np.sum())

In [200]:
# Create a massive NumPy array
massive_array = np.random.random(100000)
massive_array.size

100000

In [203]:
massive_array[:10]

array([0.62342345, 0.62955693, 0.9099729 , 0.96251949, 0.5850998 ,
       0.16489774, 0.39159332, 0.94455493, 0.34339118, 0.70507037])

In [204]:
%timeit sum(massive_array) # Python's sum()
%timeit np.sum(massive_array) # NumPy's np.sum()

5.98 ms ± 50.7 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)
32 µs ± 1.02 µs per loop (mean ± std. dev. of 7 runs, 10,000 loops each)

In [205]:
a2

array([[1. , 2. , 3.3],
       [4. , 5. , 6.5]])

In [206]:
np.mean(a2)

3.6333333333333333

In [207]:
np.sum(a2) / a2.size

3.6333333333333333

In [208]:
np.max(a2)

6.5

In [209]:
np.min(a2)

1.0

In [210]:
# Standard deviation = a measure of how spread out a group of numbers is from the mean
np.std(a2)

1.8226964152656422

In [211]:
# Variance = measure of the average degree to which each number is different to the mean
# Higher variance = wider range of numbers
# Lover variance = lower range of numbers
np.var(a2)

3.3222222222222224

In [212]:
# Standard deviation = squareroot of variance
np.sqrt(np.var(a2))

1.8226964152656422

# Standard Deviation and Variance

The measures of the spread of data

In [214]:
# Demo of std and var
high_var_array = np.array([1, 100, 200, 300, 4000, 5000])
low_var_array = np.array([2, 4, 6, 8, 10])

In [215]:
np.var(high_var_array), np.var(low_var_array)

(4296133.472222221, 8.0)

In [216]:
np.std(high_var_array), np.std(low_var_array)

(2072.711623024829, 2.8284271247461903)

In [217]:
np.mean(high_var_array), np.mean(low_var_array)

(1600.1666666666667, 6.0)

In [219]:
%matplotlib inline
import matplotlib.pylot as plt
plt.hist(high_var_array)
plt.show()

ModuleNotFoundError: No module named 'matplotlib.pylot'